# Retour des A/B Testes


Start le ....



## 1 — Authentification

### - 1.1  **Inscription — création de compte**
Analyse effectué: observation sans aucune anomalie.

Anomalie détecté : 🔴 Inpossible de se connecter via google!

### - 1.2  **Tache non assigné - double clic sur le btn google **